body{
    font-family: 'Montserrat', sans-serif;
    background: #FAFAFA;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

p{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding:0;
}

button{
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.title{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.title span{
    color: #FD9222;
}
   /*----HEADER----*/

.header{
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-container{
    display: flex;
    gap: 90px;
    align-items: center;
}

.header-nav{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-logo-italick{
    font-style: italic;
}

.header-nav-list{
    display: flex;
    gap: 24px;
}

.header-nav-link{
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.header-soc-list{
    display: flex;
    gap: 14px;
}

.header-soc-icons{
    fill: transparent;
    stroke: #111;
}

.header-soc-icons:hover{
    stroke: #FD9222;
}

.container{
    width: 100%;
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

   /*----HERO----*/
.hero {
    padding-bottom: 80px;
}

.hero-container{
    border-radius: 30px;
    background: rgba(17, 17, 17, 0.60);
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url(../img/chocolate_main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 380px 40px 40px 40px;
    width: 1136px;
}

.hero-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    max-width: 484px;
}

.hero-button {
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border-radius: 100px;
    background: #FD9222;
    border: none;
    padding: 14px 40px;
    margin-right: 14px;
}

.hero-how-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    background: scroll;
    border-radius: 100px;
    border: 1px solid #FFF;
    padding: 14px 40px;
}

.hero-container-link{
    display: flex;
}

.hero-scroll-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.03em;
    margin-left: auto;
}

   /*----FEATURS----*/

.featurs {
    background: #1E1823;
    padding: 50px;
}

.featurs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 88px;
}

.featurs-item{
    width: calc((100% - 176px) / 3);
}

.featurs-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    max-width: 173px;
    width: 100%;
    margin-bottom: 18px;
}

.featurs-item-tex {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    max-width: 308px;
    width: 100%;
}

   /*----TASTE----*/

.taste {
    padding-top: 120px;
}

.taste-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 412px;
    margin: 0 auto 28px;
}

.taste-text {
    color: #111;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    max-width: 486px;
    margin: 0 auto;
}

.taste-list {
    display: flex;
    gap: 24px 32px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.taste-item {
    border-radius: 15px;
    width: 260px;
    height: 270px;
    flex-shrink: 0;
    background: #FD9222;
    padding: 28px 23px;
}

.taste-subtitle {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin: 36px auto auto 5px;
}

   /*----MADE----*/

.made{
    padding-top: 120px;
}

.made-title {

}

.container-made{
    display: flex;
    margin-top: 50px;
}

.made-img {
}

.container-made-list{
    display: block;
    padding: 32px;
    margin-left: 20px;
    background-color: #FFF;
    border-radius: 15px;
    width: 516px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.made-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
}

.made-list {
    flex-direction: column;
    display: flex;
    gap: 24px;
    margin-top: 28px;
}

.made-item {
    display: flex;
    color: #111;
    font-size: 14px; 
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    align-items: center;
}

.made-item::before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: #4C4C4C;
    border-radius: 50%;
    border: 1px solid #ECEDED;
    flex-shrink: 0;
    margin-right: 8px;
}

.made-text {
}

   /*----PRODUCTS----*/

.products {
    padding-top: 120px;
}

.products-title {

}

.products-list {
    display: flex;
    width: 1136px;
    height: 752px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px 18px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.products-item {
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    width: 270px;
    height: 364px;
    padding: 32px 20px;
    text-align: center;
}

.products-img {
}

.products-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-top: 8px;
}

.products-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16; /* 116.667% */
    letter-spacing: -0.02em;
}
.products-button {
    color: #111;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    padding: 8px 20px;
    margin-top: 18px;
}

   /*----SELLERS----*/

.sellers {
    padding-top: 120px;
}
.sellers-title {
}
.sellers-list {
    display: flex;
    gap: 16px;
    margin-top: 50px;
}
.sellers-item {
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.10);
    border-bottom: 1px solid rgba(17, 17, 17, 0.10);
    border-left: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
}
.sellers-img {
}

.sellers-container-subtitle{
    text-align: center;
    padding: 28px;
}

.sellers-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

   /*----LOVED----*/

.loved {
    padding-top: 120px;
    padding-bottom: 120px;
}

.loved-title {
}
.loved-list {
    display: flex;
    text-align: center;
    gap: 28px;
    margin-top: 50px;
}

.loved-item {
    width: 360px;
    height: 242px;
    flex-shrink: 0;
    position: relative;
}

.loved-cotainer{
    display: inline-flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    position: absolute;
    transform: translate(-50%, 0);
}

.loved-suntitle {
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
    white-space: nowrap;
}

.loved-cotainer-text{
    display: flex;
    padding: 24px;
    margin-top: 42px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
    width: 360px;
    height: 200px;
    flex-shrink: 0;
}

.loved-text {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    width: 312px;
    height: 72px;
    flex-shrink: 0;
    margin-top: 80px;
}

.loved-cotainer-buttom{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.loved-button {
    color: #111;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 222px;
    height: 50px;
    padding: 14px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #FD9222;
    background: #FAFAFA;
}

   /*----FOOTER----*/

.footer {
    background: #1E1823;
    padding: 50px 0;
}

.footer-container{
    display: flex;
}

.footer-heading {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    width: 300px;
}

.footer-heading span{
    color: #FD9222;
}

.footer-container-social{
    display: flex;
    flex-direction: column;
    margin-left: 510px;
    gap: 14px;
}

.footer-subtitle {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29; /* 128.571% */
}

.footer-list {
    display: flex;
    gap: 14px;
}

.footer-item {
}

.footer-text {
    color: #FFF;    
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29; /* 128.571% */
}

.footer-container-contact{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 14px;
}

.footer-addres {
}

.footer-addres-list {
    gap: 4px;
}

.footer-addres-item {
}

.footer-addres-link {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
}

.footer-nav {
}

.footer-nav-list {
}

.footer-nav-item {
}

.footer-nav-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.02em;
}

.footer-button {
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}