body{
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

p{
    margin: 0;
}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button{
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.title{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.title span{
    color: #FD9222;
}
   /*----HEADER----*/

.header{
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-container{
    display: flex;
    gap: 90px;
    align-items: center;
}

.header-nav{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-logo-italick{
    font-style: italic;
}

.header-nav-list{
    display: flex;
    gap: 24px;
}

.header-nav-link{
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.header-soc-list{
    display: flex;
    gap: 14px;
}

.container{
    width: 100%;
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

   /*----HERO----*/
.hero {
    padding-bottom: 80px;
}

.hero-container{
    border-radius: 30px;
    background: rgba(17, 17, 17, 0.60);
    padding: 380px 40px 40px 40px;
    width: 1136px;
}

.hero-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    max-width: 484px;
}
.hero-button {
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border-radius: 100px;
    background: #FD9222;
    border: none;
    padding: 14px 40px;
    margin-right: 14px;
}
.hero-how-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    background: scroll;
    border-radius: 100px;
    border: 1px solid #FFF;
    padding: 14px 40px;
}

.hero-container-link{
    display: flex;
}

.hero-scroll-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.03em;
    margin-left: auto;
}

   /*----FEATURS----*/

.featurs {
    background: #1E1823;
    padding: 50px;
}
.featurs-list {
    list-style: none;
    display: flex;
    width: calc((100% - 176px) / 3);
}
.featurs-item {
}
.featurs-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    max-width: 173px;
    width: 100%;
    margin-bottom: 18px;
}
.featurs-item-tex {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    max-width: 308px;
    width: 100%;
}

   /*----TASTE----*/

.taste {
    padding-top: 120px;
}
.taste-title {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 412px;
    margin: 0 auto 28px;
}
.taste-text {
    color: #111;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    max-width: 486px;
    margin: 0 auto;
}
.taste-list {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    gap: 24px 32px;
    flex-wrap: wrap;
}
.taste-item {
    border-radius: 15px;
background: #FD9222;
}
.taste-subtitle {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

   /*----MADE----*/

.made{
    padding-top: 120px;

}
.made-title {

}
.made-img {
}
.made-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
}
.made-list {
}
.made-item {
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
}
.made-text {
}

   /*----PRODUCTS----*/

.products {
    padding-top: 120px;
}
.products-title {

}
.products-list {
}
.products-item {
}
.products-img {
}
.products-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.products-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16; /* 116.667% */
    letter-spacing: -0.02em;
}
.products-button {
    color: #111;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

   /*----SELLERS----*/

.sellers {
    padding-top: 120px;
}
.sellers-title {
}
.sellers-list {
}
.sellers-item {
}
.sellers-img {
}
.sellers-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

   /*----LOVED----*/

.loved {
    padding-top: 120px;
    padding-bottom: 120px;
}
.loved-title {
}
.loved-list {
}
.loved-item {
}
.loved-img {
}
.loved-suntitle {
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
}
.loved-text {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
}
.loved-button {
    color: #111;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

   /*----FOOTER----*/

.footer {
    background: #1E1823;
}
.footer-heading {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
}
.footer-heading span{
    color: #FD9222;
}
.footer-subtitle {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29; /* 128.571% */
}
.footer-list {
}
.footer-item {
}
.footer-text {
    color: #FFF;    
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29; /* 128.571% */
}
.footer-addres {
}
.footer-addres-list {
}
.footer-addres-item {
}
.footer-addres-link {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
}
.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.02em;
}
.footer-button {
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}